body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdf7f7; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px; 
}

.registro-box {
    background-color: #fff;
    padding: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px; 
    margin: 0 auto; 
}

.input-group {
    margin-bottom: 24px; 
}

label {
    display: block;
    margin-bottom: 8px;
    color: #7e1c81; 
}

input, select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 5px; 
    border: 1px solid #e6a1f1; 
    border-radius: 4px;
}

button {
    width: calc(100% - 16px); 
    padding: 10px;
    background-color: #821d87; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #7e1c81;
}
